<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../static/images/favicon.png" type="image/png">
        <title>MedEase</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/vendors/linericon/style.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style2.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script> 
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

        <!-- Bootstrap CSS -->
        
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <h1><a class="navbar-brand" href="/main">MedEase</a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/main">首頁</a></li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">個人檔案</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/profile">基本資料</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Econtact">緊急聯絡人</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">預約</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/searchhos">依醫院預約</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/appoint">依距離預約</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/body">依科別預約</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item"><a class="nav-link" href="/appointRecord">預約紀錄</a></li>
                            <li class="nav-item"><a class="nav-link" href="/transaction">交易紀錄</a></li>
                            <li class="nav-item"><a class="nav-link" href="/healthInfo">健康資訊</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">登出</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">緊急聯絡人</h2>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        {% block content %}
            <div class="container">
                {% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0] }}">
                    <button type="button" class="close-x" data-dismiss="alert">&times;</button>
                    {{ message[1]}}
                </div>
                {% endfor %}
            </div>
        {% endblock content %}
        <!--================ About History Area  =================-->
        
        <section class="about_history_area section_gap">
            <div class="container">
                <div class="row">
                    <button type="button " style="margin-left: 5px;" class=" btn btn-info " data-toggle="modal"
                    data-target="#add_e">新增緊急聯絡人</button>
                    <table id="contactTable" class="table" style=" margin-top: 30px;">
                        <thead>
                        <tr>
                            <th scope="col" >#</th>
                            <th scope="col">姓名</th>
                            <th scope="col">聯絡電話</th>
                            <th scope="col">關係</th>
                            <th scope="col">刪除此聯絡人</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ contact.0 }}</td>
                            <td>{{ contact.1 }}</td>
                            <td>{{ contact.2 }}</td>
                            <td>
                                <form role="form" method="POST" action="{{ url_for('deleteContact') }}">
                                <input type="hidden" name="eid" value="{{ contact.3 }}">
                                <button type="submit" class="btn btn-danger">刪除</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="add_e"  data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">新增緊急聯絡人</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <form class="form-group" role="form" method="POST" action="{{ url_for('addEcontact') }}"> 
                                    <div class="modal-body">
                                        <label class="control-label " for="e_name">姓名</label>
                                        <input type="text" class="form-control" id="e_name" name="e_name" placeholder="請輸入緊急聯絡人姓名" >
                                        <br>
                                        <label class="control-label " for="e_phone">連絡電話</label>
                                        <input type="text" class="form-control" id="e_phone" name="e_phone" placeholder="請輸入緊急聯絡人電話" >
                                        <br>
                                        <label class="control-label " for="e_rela">關係</label>
                                        <input type="text" class="form-control" id="e_rela" name="e_rela" placeholder="請輸入您與緊急聯絡人的關係" >
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-default" >新增</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                </div>
            </div>
        </section>
    </body>
</html>