<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../static/images/favicon.png" type="image/png">
        <title>MedEase</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/vendors/linericon/style.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="../static/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="../static/css/style2.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <h1><a class="navbar-brand" href="/main">MedEase</a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/main">首頁</a></li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">個人檔案</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/profile">基本資料</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Econtact">緊急聯絡人</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">預約</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/searchhos">依醫院預約</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/appoint">依距離預約</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/body">依科別預約</a></li>
                                </ul>
                            </li> 
                            
                            <li class="nav-item"><a class="nav-link" href="blog-single.html">預約紀錄</a></li>
                            <li class="nav-item"><a class="nav-link" href="elements.html">交易紀錄</a></li>
                            <li class="nav-item"><a class="nav-link" href="/healthInfo">健康資訊</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">登出</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">運動後的飲食原則</h2>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
		<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<audio controls>
					<source src="static/sound/info_sound.mp3" type="audio/mpeg">
					Not Support!!!
					</audio>
				</div>
				<br>
				<div class="container">
					<h3>運動後怎麼吃才不發胖？資深營養師袁毓瑩表示，長時間且強度中高的有氧運動後30分鐘至60分鐘，是修補肌肉及提供身體營養補充的黄金期；正確飲食不僅不會影響減重，反而有助增強體力。運動後飲食建議首選水份飽滿、高鉀、高糖水果，如西瓜、鳳梨等，並注意勿食用高油、高鹽食物或利尿性飲品，以免造成身體負擔。</h3>
					<br>
					<h3>早期觀念認為運動後不宜進食，以免造成腸胃的負擔，甚至影響到疲勞的恢復，然而，這觀念已逐漸被修正。越來越多的研究結果發現，運動後的30分鐘至60分鐘，是修補肌肉及提供身體營養補充的黄金期，正確飲食不僅不會影響減重成效，更能提升個人體能。</h3>
					<br>
					<h3>然而，這裏談到「運動後的修補」是指運動時間至少1小時、強度達到中高的有氧運動程度，如慢跑10K、有氧舞蹈、游泳和自行車等運動項目。長時間運動會消耗身體的能量，讓身體流失水份、耗竭肝醣，因此，運動後進食是一件很自然的事情，也需要這麼做。</h3>
					<br>
					<h3>運動後除了補充水分外，飲食首選水份飽滿、高鉀、高糖的水果，如西瓜、鳳梨等，此外，切忌食用煎炸類、過多調味的加工食品等高油、高鹽食物，也應避免攝取利尿性的飲料，如咖啡、茶、可樂等，建議優先攝取新鮮自然的優質食物。</h3>
					<br>
					<h3>以下飲食為常見的餐飲店，建議運動後的1小時內（黄金時間）食用為佳：</h3>
					<br>
					<h3>1. 體能恢復飲食範例（針對長跑後，或運動1~3小時以上者）：飲食原則為碳水化合物佔60%（含水果、蔬菜、穀類）與蛋白質和脂肪佔40%（含肉魚豆蛋奶、植物油、堅果）</h3>
					<h3>(1) 豆漿店：燒餅夾芽菜、蘿蔔糕一碟 + 蔥蛋、豆漿一杯</h3>
					<h3>(2) 水餃店：酸辣湯一碗、青菜二碟、水果一顆 + 蒸餃十顆</h3>
					<h3>(3) 速食店：海鮮米漢堡及鱈魚堡（內含鱈魚塊、歐姆蛋）、生菜沙拉、柳橙汁 </h3>
					<h3>(4)日式餐：綜合壽司十個、牛蒡炒肉絲、和風生菜沙拉 + 茶碗蒸、烤鮭魚、肉絲</h3>
					<h3>(5) 歐式餐：生菜水果沙拉、全麥土司二片抹奶油及果醬、綜合果汁 + 淋冷壓初榨橄欖油、佐起司粉或起司塊、白煮蛋一顆</h3>
					<br>
					<h3>2. 增加瘦肌肉群，減少體脂飲食（針對重量訓練，或高強度短時間的訓練後）：飲食原則為碳水化合物佔40%（含水果、蔬菜、穀類）與蛋白質和脂肪佔60%（含肉魚豆蛋奶、植物油、堅果）</h3>
					<h3>(1) 水餃店：青菜豆腐湯一碗、青菜一碟 + 水餃十顆、滷蛋一個</h3>
					<h3>(2) 日式餐：和風生菜沙拉、蕎麥涼麵 + 生魚片、牛肉、茶碗蒸、味增豆腐湯</h3>
					<h3>(3) 歐式餐：生菜水果沙拉、羅宋湯 + 淋冷壓初榨橄欖油、佐起司粉或白煮蛋一顆、豬或魚排一份</h3>
					<br>
					<h3>值得注意的是，沒有任何一種食物或運動後的食譜適合每一個人，建議依實際需求，找出最適合自己在運動後吃了體力恢復良好又舒服的食物。</h3>
				</div>
			</section>
		<!-- End Sample Area -->
    </body>
</html>